# Local
.DS_Store
*.local
*.log*

# Dist
node_modules
dist/

# Profile
.rspack-profile-*/

# IDE
.vscode/*
!.vscode/extensions.json
.idea
.idx

/src/generated/prisma
dev.db
uploads/
.qodo
.env

# Openspec
.openspec/
openspec/
.agent/
.agents/
.opencode/
.augment/
